body{
    background: linear-gradient(to bottom right, #722620, #F2BC94)
}

.h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    width: 22%;
}

.note{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-top: 10px;
}

.footer{
    position: fixed;
    color: grey;
    background: rgb(255, 255, 255);
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.options{
    text-decoration: none !important;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: brown;
    padding-left: 80px;
    padding-right: 80px;
}

.options:hover{
    background-color: rgb(113, 0, 128);
    color: gold; 
}

.option{
    width: 325px;
    height: 440px !important;
    padding: 20px;
 }


